<?xml version="1.0" encoding="UTF-8" ?>
<module xmlns="urn:jboss:module:1.0" name="org.telestax.slee.container.lib">

    <resources>

        <!-- SLEE CONTAINER MODULES - PLS KEEP A-Z ORDER -->
        <artifact name="${org.mobicents.servers.jainslee.core:activities}" />
        <artifact name="${org.mobicents.servers.jainslee.core:common}" />
        <artifact name="${org.mobicents.servers.jainslee.core:components}" />
        <artifact name="${org.mobicents.servers.jainslee.core:congestion}" />
        <artifact name="${org.mobicents.servers.jainslee.core:descriptors}" />
        <artifact name="${org.mobicents.servers.jainslee.core:events}" />
        <artifact name="${org.mobicents.servers.jainslee.core:fault-tolerant-ra-api}" />
        <artifact name="${org.mobicents.servers.jainslee.core:fault-tolerant-ra-impl}" />
        <artifact name="${org.mobicents.servers.jainslee.core:jmx-property-editors}" />
        <artifact name="${org.mobicents.servers.jainslee.core:profiles}" />
        <artifact name="${org.mobicents.servers.jainslee.core:remote}" />
        <artifact name="${org.mobicents.servers.jainslee.core:resource}" />
        <artifact name="${org.mobicents.servers.jainslee.core:router}" />
        <artifact name="${org.mobicents.servers.jainslee.core:services}" />
        <artifact name="${org.mobicents.servers.jainslee.core:slee-timers}" />
        <artifact name="${org.mobicents.servers.jainslee.core:spi}" />
        <artifact name="${org.mobicents.servers.jainslee.core:transaction}" />
        <artifact name="${org.mobicents.servers.jainslee.core:usage}" />

        <!-- SLEE CONTAINER DEPS - PLS KEEP VERSION PROPERTY A-Z ORDER -->
        <artifact name="${javax.slee:jain-slee}" />
        <artifact name="${org.mobicents.servers.jainslee.api:jain-slee-11-ext}" />

        <artifact name="${org.restcomm.cluster:cache}" />
        <artifact name="${org.restcomm.cluster:core}" />
        <artifact name="${org.restcomm.cluster:timers}" />
        <artifact name="${org.infinispan:infinispan-tree}" />

        <!-- NOT IN WILDFLY GALLEON DIST -->

        <artifact name="${commons-pool:commons-pool}" />
        <artifact name="${org.apache.commons:commons-lang3}" />
    </resources>

    <dependencies>

        <module name="sun.jdk" />
        <module name="javax.api" />
        <module name="javax.persistence.api" export="true" />
        <module name="javax.resource.api" />
        <module name="javax.transaction.api" export="true" />
        <module name="javax.xml.bind.api" />
        <module name="org.apache.commons.logging" />
        <!-- NOT FOR WILDFLY 21
        <module name="org.apache.commons.lang" export="true" />
        -->
        <module name="org.apache.log4j" optional="true" />
        <module name="org.apache.xerces" optional="true" />
        <module name="org.jboss.staxmapper" />
        <module name="org.jboss.as.controller" />
        <module name="org.jboss.as.server" />
        <module name="org.jboss.as.naming" />
        <module name="org.jboss.as.transactions" />
        <module name="org.wildfly.transaction.client" />
        <module name="org.jboss.as.jpa" export="true" />
        <module name="org.jboss.as.jpa.spi" export="true" />
        <module name="org.jboss.as.jmx" />
        <module name="org.jboss.as.connector" />
        <module name="org.jboss.modules" />
        <module name="org.jboss.msc" />
        <module name="org.jboss.jts" />
        <module name="org.jboss.logging" />
        <module name="org.jboss.vfs" />
        <module name="org.javassist" optional="true" export="true" />
        <module name="org.hibernate" export="true" />
        <module name="org.infinispan" export="true" />
        <module name="org.infinispan.commons" optional="true" export="true" />

        <!-- OPTIONAL Dependencies from other feature packs: Howto add from there? -->
        <module name="org.mobicents.ss7.modules" optional="true" export="true" />
        <module name="mobi.mofokom.jain-slee-annotations" optional="true" export="true" />
        <module name="org.restcomm.slee.resource.http.common" optional="true" export="true" />
        <module name="jakarta.json.api" optional="true" export="true" />
        <module name="javax.json.api" optional="true" export="true" />
    </dependencies>

    <properties>
        <property name="jboss.api" value="wozza" />
    </properties>
</module>
